.card{
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 16px;
}

.cardConst{
    position: relative;
    width: 1000px;
    height: 200px;
    background: linear-gradient(greenyellow 0%, #7DE88C 100%);
}

.cardRed{
    position: relative;
    width: 1000px;
    height: 200px;
    background: linear-gradient(#CFF37D 0%, #FF0000 100%);
}

