.actionGrade{
    position: relative;
    width: 80px;
    height: 0px;
    left: 700px;
    bottom: 250px;
    font-weight: bold;
}

.action{
    position: relative;
    bottom: 180px;
    left: 670px;
}

.actionText{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
