.contentName{
    position: relative;
    width: 1000px;
    height: 0px;
    left: 300px;
    bottom: 280px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 26px
}

.contentWrapper{
    position: relative;
    width: 200px;
    height: 0px;
    left: 300px;
    bottom: 240px;
    font-weight: 500;
}

.contentDate{

}
.contentDistance{
    width: 1000px;
}

.contentSize{
    width: 500px;
}
